@using AspNetCoreTemplate.Common
@{
    this.ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h3>If you want to always be on time for your meetings you are in the right place.</h3>
</div>

