@using BeOnTime.Web.ViewModels.Meetings
@model MeetingInputModel

@{
    this.ViewData["Title"] = "Edit Meeting";
    var users = ViewBag.Users;
    var data = ViewBag.Data;
}

<form asp-controller="Meetings" asp-action="Edit" mtehod="post">
    <div class="form-group">
        <label for="meetingStart">Date of the meeting</label>
        <input type="date" value=@data.MeetingStartTime class="form-control" id="meetingStart" name="MeetingStartTime">
    </div>
    <div class="form-group">
        <label for="meetingStartHour">Start hour of the meeting</label>
        <input type="time" value=@data.MeetingStartHour class="form-control" id="meetingStartHour" name="MeetingStartHour">
    </div>
    <div class="form-group">
        <label for="meetingEnding">End date of the meeting</label>
        <input type="date" value=@data.MeetingEnding class="form-control" id="meetingEnding" name="MeetingEnding">
    </div>
    <div class="form-group">
        <label for="meetingEndHour">End hour of the meeting</label>
        <input type="time" value=@data.MeetingEndHour class="form-control" id="meetingEndHour" name="MeetingEndHour">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" value=@data.Title class="form-control" id="title" name="Title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" value="@data.Description" class="form-control" id="description" name="Description">
    </div>
    <div class="form-group">
        <label for="place">Place</label>
        <input type="text" value=@data.Place class="form-control" id="place" name="Place" >
    </div>
    <div>
        <label for="users">Choose users, which will have to atend the meeting:</label>
        <select id="users" name="Users" multiple>
            @foreach (var user in users)
            {
                <option value="@user">@user</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
</form>